@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500;600;700&family=Courgette&family=DM+Sans:wght@400;500;700&family=Forum&family=Lora:wght@400;500;600;700&family=Noto+Sans+Thai:wght@500;600;700&family=Open+Sans:wght@400;500;600;700;800&family=Playfair+Display:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700;800&display=swap');


:root {
    /* color */
    --grey-color: #d2d2d2;
    --black-color: #222222;
    --light-black-color: #323232;
    --dull-black-color: #413d3d;
    --body-color: #f8f8f8;
    --hero-color: #e9e9e9;

    /* Typography */
    --large-font-size: 9rem;
    --h1-font-size: 7rem;
    --h2-font-size: 2.3rem;
    --h3-font-size: 1.5rem;
    --h4-font-size: 1.2rem;
    --normal-font-size: 1rem;
    --small-font-size: .9rem;
    --smaller-font-size: .75rem;


    /* Font Weight */
    --font-light: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

}

@media screen and (max-width:800px) {

    :root {
        --h1-font-size: 4.5rem;
        --h2-font-size: 1.8rem;
        --h3-font-size: 1.3rem;
        --h4-font-size: 1.1rem;
        --normal-font-size: .9rem;
        --small-font-size: .8rem;
        --smaller-font-size: .7rem;
    }
}

@media screen and (max-width:480px) {

    :root {
        --h1-font-size: 3rem;
        --h2-font-size: 1.6rem;
        --h3-font-size: 1.2rem;
        --h4-font-size: 1rem;
    }
}

@media screen and (max-width:350px) {

    :root {
        --h1-font-size: 2.3rem;
    }
}

/*!====== Rseponsiveness ============ */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    transition: all .3s;
}



body {
    background-color: var(--body-color);
}

body.active-form {
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: unset;
}

video,
img {
    width: 100%;
    height: 100%;
    display: block;
}

button {
    border: none;
    background: transparent;
}

input {
    outline: none;
    border: none;
}

/*!=========== REUSABLE CSS CLASSES ============== */

.padding-inline {
    padding-inline: 3rem;
}

.section {
    padding: 6rem 3rem;
}

.flex {
    display: flex;
    align-items: center
}


/*!========= NAVBAR ============== */
header {
    background: var(--hero-color);
    width: 100%;
}

.navbar {
    justify-content: space-between;
    height: 4.5rem;
    padding-block: .7rem;
    gap: .8rem;
}

.search__container {
    flex-basis: 65%;
    gap: 1rem;
    height: 100%;
}


.nav__logo img {
    width: 1.8rem;
    cursor: pointer;
}

.search-bar {
    flex-basis: 100%;
    background-color: var(--grey-color);
    justify-content: space-between;
    height: 100%;
    padding-inline: 1rem 0;
    border-radius: .3rem;
    position: relative;
}

.search-bar.show {
    background-color: var(--light-black-color);
}

.search-bar .search {
    flex-basis: 65%;
    gap: .8rem;
    height: 100%;
}

.search-bar i {
    font-size: 1.3rem;
    color: #838383;
    transform: rotateY(180deg);
    cursor: pointer;

}

.search-bar input {
    height: 100%;
    flex-basis: 90%;
    background: transparent;
    color: black;
}
.search-bar.show input {
    color: white;
}



.search-bar p {
    font-size: .8rem;
}

.search-bar.show p {
    color: #838383;
}

.search-modal {
    position: absolute;
    top: 3rem;
    left: 0;
    width: 100%;
    background-color: var(--black-color);
    padding: 3rem 1.5rem;
    border-radius: .3rem;
    color: white;
    opacity: 0;
    pointer-events: none;
    transition: .3s;
    z-index: 55;
}

.search-bar.show .search-modal {
    opacity: 1;
    pointer-events: initial;
}


.search-modal p {
    font-size: var(--smaller-font-size);
    font-weight: 400;
    color: #919191;
    margin-bottom: 1rem;
}

.project__content {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.project-item {
    cursor: pointer;
}

.project-item img {
    border-radius: .3rem;
}

.project-item h5 {
    font-size: var(--smaller-font-size);
    font-weight: var(--font-semi-bold);
    cursor: pointer;
}

.tags {
    margin-top: 3rem;
}

.tags__content {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.tags__content h4 {
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    border: 1px solid rgb(112, 112, 112);
    padding: .3rem .8rem;
    border-radius: 3rem;
    cursor: pointer;
    pointer-events: none;
}

.inspiration {
    flex-basis: 25%;
    height: 100%;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    padding-inline: .8rem;
    border-radius: .3rem;
}

.inspiration.show {
    background-color: var(--black-color);
    color: white;
}

.inspiration.show i {
    transform: rotateZ(180deg);
    color: white;
}

.inspiration-modal {
    position: absolute;
    top: 3rem;
    left: 0;
    background-color: var(--black-color);
    color: white;
    width: 100%;
    border-radius: .3rem;
    padding: 1rem .8rem;
    opacity: 0;
    pointer-events: none;
    z-index: 99;
}

.inspiration.show .inspiration-modal {
    opacity: 1;
    pointer-events: initial;
}

.inspiration-modal h5 {
    font-size: var(--smaller-font-size);
    font-weight: var(--font-light);
    padding: .5rem 0;
}

.inspiration-modal h5:hover {
    color: #838383;
}

.inspiration-modal li {
    font-size: var(--smaller-font-size);
    font-weight: var(--font-light);
    padding: .5rem;
}

.inspiration-modal li:hover {
    color: #838383;
}


.inspiration i {
    color: black;
}

.search-bar.show .inspiration i {
    color: #838383;
}

.inspiration h3 {
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    pointer-events: none;
}

.search-bar.show .inspiration h3 {
    color: #838383;
}

.signup__links {
    gap: 1rem;
}

.signup__links a {
    font-size: var(--small-font-size);
    font-weight: var(--font-bold);
}

.signup-toggle {
    display: none;
}

.nav__btns-box {
    /* flex-basis: 25%; */
    gap: 1rem;
    justify-content: space-between;
    height: 100%;
}

.nav__btns-box a {
    border: 1px solid var(--black-color);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 1.2rem;
    border-radius: .5rem;
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
    transition: .3s;
}

.nav__btns-box a:hover {
    background-color: var(--dull-black-color);
    color: white;
}

.pro {
    background-color: var(--black-color);
    color: white;
}

/*!========= FIXED-NAV =============*/
.fixed-nav {
    position: fixed;
    bottom: 2rem;
    left: 50%;
    height: 4.8rem;
    transform: translateX(-50%);
    gap: .5rem;
    background-color: rgba(0, 0, 0, 0.636);
    color: white;
    justify-content: space-between;
    padding: .5rem;
    border-radius: .5rem;
    width: 40%;
    transition: width .6s;
    z-index: 99;
    /* display: none; */
}

.main-home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    background-color: var(--black-color);
    height: 100%;
    padding-inline: 1rem;
    border-radius: .5rem;
    width: 30%;
    transition: width .4s;
}

.logo {
    display: flex;
    align-items: flex-end;
    gap: .2rem;
}

.logo img {
    width: 1rem;
}

.logo p {
    font-size: .8rem;
    font-weight: var(--font-semi-bold);
}

.main-home i {
    cursor: pointer;
}

.fixed__nav-list {
    flex-basis: 85%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: .2rem;
    background-color: var(--dull-black-color);
    height: 100%;
    padding: .5rem;
    border-radius: .5rem;
}

.fixed__nav-list .link {
    font-size: .85rem;
    color: #cfcfcf;
    border: 1px solid #565656;
    height: 100%;
    display: grid;
    place-items: center;
    padding-inline: .6rem;
    border-radius: .3rem;
}

.fixed__nav-list .link:hover {
    border: 1px solid #787878;
}

.fixed__nav-list .link.active {
    border: 1px solid white;
    color: white;
}

.fixed__nav-list li:first-child .link {
    border-color: transparent;
    pointer-events: none;
}


.fixed-nav.active {
    width: 50%;
}

.fixed-nav.active .main-home {
    width: 100%;
    justify-content: space-between;
}

.fixed-nav.active .fixed__nav-list {
    display: none;
}

.main__menu-modal {
    position: absolute;
    left: 0;
    width: 100%;
    min-height: 20rem;
    background-color: rgba(0, 0, 0, 0.636);
    height: 1rem;
    padding: .5rem;
    border-radius: .5rem;
    bottom: -200%;
    opacity: 0;
    pointer-events: none;
    transition: bottom .3s;
    transition: opacity 0s;
}

.fixed-nav.active .main__menu-modal {
    bottom: 100%;
    opacity: 1;
    pointer-events: initial;
    transition: opacity .2s linear .3s;
}


.main__menu-content {
    background-color: var(--light-black-color);
    display: flex;
    justify-content: space-between;
    padding: 2rem 1.5rem;
    height: 100%;
    border-radius: .5rem;
}

.menu-item {
    border-left: 1px dotted #838383;
}

.menu-item h5 {
    font-size: var(--smaller-font-size);
    font-weight: 400;
    color: #a0a0a0;
    margin-bottom: .5rem;
    padding: .5rem 1rem;
    position: relative;
}

.menu-item h5::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -.15rem;
    transform: translateY(-50%);
    width: .2rem;
    height: .2rem;
    background-color: white;
    border-radius: 50%;
}

.menu-item p {
    font-size: var(--small-font-size);
    padding: .5rem 1rem;
    cursor: pointer;
    border: 1px solid transparent;
}

.menu-item p:hover {
    color: yellow;
    border-left: 1px solid yellow;
}

/*!============== H0ME ===============*/
.home {
    background-color: var(--hero-color);
    padding-top: 0 !important;
}

.home .heading {
    font-size: var(--large-font-size);
    text-transform: uppercase;
    text-align: center;
    transform: scaleY(1.1);
    color: var(--black-color);
    word-spacing: .3rem;
}

.sliding-banner {
    overflow-x: auto;
    white-space: nowrap;
    margin-top: 1.5rem;
    width: 100%;
    pointer-events: none;
}

.sliding-banner::-webkit-scrollbar {
    display: none;
}

.sliding-banner h2 {
    font-size: var(--h2-font-size);
    font-weight: var(--font-light);
    display: inline-block;
    animation: scroll 9s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.sliding-banner h2 span {
    font-weight: var(--font-semi-bold);
}

.home__img {
    margin-block: 1.5rem;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
}

.score {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    color: white;
    pointer-events: none;
}

.score p {
    font-size: var(--normal-font-size);
}

.score .point {
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;
}

.score .point h2 {
    font-size: var(--h1-font-size);
    line-height: 4rem;
}

.score .point p {
    font-size: var(--h2-font-size);
}

.home__img button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    border: 2px solid white;
    padding: 1.2rem 2.5rem;
    font-size: var(--h3-font-size);
    border-radius: .5rem;
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
}

.home__img:hover button {
    opacity: 1;
    pointer-events: initial;
}

.creators-container {
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.creator {
    display: flex;
    align-items: center;
    gap: .3rem;
}

.creator img {
    width: 2rem;
    border-radius: 50%;
}

.creator h3 {
    font-size: 1.3rem;
    border-bottom: 2.5px solid #b1b1b1;
    position: relative;
    cursor: pointer;
}

.creator h3::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 2.5px;
    background-color: var(--black-color);
    transition: width .3s;
}

.creator h3:hover::after {
    width: 100%;
}

.creator p {
    font-size: .9rem;
}

/*!========= NEWS ==========*/
.news .title {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}

.news .heading {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-block: 1.5rem;
}

.news .heading h2 {
    font-size: var(--h2-font-size);
}

.news .heading p {
    font-size: var(--small-font-size);
}

.news .heading p span {
    font-weight: var(--font-bold);
}

.new__content {
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
    margin-block: 4rem 2rem;
}

.new__content .title {
    margin-bottom: 1.5rem;
    font-weight: var(--font-bold);
}

.w-news,
.w-creators,
.w-featured {
    flex: 1;
    width: 100%;
}

.w-news .item:nth-child(2) {
    position: relative;
}

.w-news .item:nth-child(2)::after {
    content: 'FRESH';
    background-color: var(--black-color);
    color: white;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: .7rem;
    font-weight: var(--font-semi-bold);
    padding: .3rem;
    border-radius: .3rem;
}

.w-creators .item:nth-child(2),
.w-creators .item:nth-child(3) {
    position: relative;
}

.w-creators .item:nth-child(2)::after,
.w-creators .item:nth-child(3)::after {
    content: 'INTERNATIONAL';
    background-color: var(--black-color);
    color: white;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: .7rem;
    font-weight: var(--font-semi-bold);
    padding: .3rem;
    border-radius: .3rem;
}

.new__content .item {
    display: flex;
    align-items: center;
    gap: .8rem;
    border-top: 1px solid #ccc;
    padding: 1rem .5rem;
}

.new__content .item img {
    width: 3.5rem;
    border-radius: 50%;
}

.new__content .info p {
    font-size: var(--small-font-size);
    margin-bottom: .3rem;
}

.new__content .info h3 {
    font-size: var(--normal-font-size);
}

.w-featured-item {
    border-top: 1px solid #ccc;
    padding: 1rem .5rem;
}


.w-featured-item img {
    border-radius: .5rem;
    margin-bottom: 1rem;
}

/*!========= NOMINEES ============== */
.nominees .title {
    font-size: var(--small-font-size);
    text-align: center;
    font-weight: var(--font-light);
}

.nominees .heading {
    font-size: var(--h1-font-size);
    transform: scaleY(1.1);
    text-align: center;
    position: relative;
    width: max-content;
    margin-inline: auto;
}

.nominees .heading::after {
    content: 'Cool Sites !';
    position: absolute;
    bottom: -1rem;
    right: -2rem;
    font-size: var(--normal-font-size);
    font-weight: var(--font-bold);
    background-color: #fed11b;
    padding: 1.2rem 1.5rem;
    border-radius: .6rem;
    transform: rotate(-10deg);
}

.nominees .subtitle {
    width: 300px;
    margin-inline: auto;
    text-align: center;
    font-size: var(--h4-font-size);
    font-weight: var(--font-light);
    line-height: 2rem;
    margin-top: .5rem;
}

.nominees__content {
    margin-top: 3rem;
}

.nominee__img {
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
}

.nominee__img .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    pointer-events: none;
}

.nominee__img:hover .layer {
    opacity: 1;
    pointer-events: initial;
}

.nominee__img button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 2rem;
    font-size: var(--normal-font-size);
    cursor: pointer;
    border-radius: .4rem;
}

.nominee__img button:hover {
    background-color: var(--black-color);
    color: white;
}


.nominee__img .info {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    color: white;
    max-width: 250px;
}

.nominee__img .info p {
    font-size: var(--normal-font-size);
    font-weight: var(--font-light);
}

.nominee__img .info h3 {
    font-size: var(--h4-font-size);
    font-weight: var(--font-semi-bold);
}

.nominee__img .icons {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}

.nominee__img .icons i {
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
}

.nominees-item .item__data {
    margin-top: 1rem;
}

.nominees-item .item__data h3 {
    font-size: var(--h4-font-size);
    font-weight: var(--font-semi-bold);
    display: inline;
    vertical-align: center;
    margin-right: .5rem;
}

.nominees-item .creator {
    display: inline-flex;
}

.nominees-item .creator p {
    font-size: var(--smaller-font-size);
}


/*! SWIPER JS */

.swiper {
    padding-bottom: 5rem;
}

.swiper-button-next,
.swiper-button-prev {
    top: unset;
    left: unset;
    right: 0;
    bottom: 0;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 1px solid var(--black-color);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: var(--black-color);
}

.swiper-button-prev {
    right: 4rem;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}

.swiper-button-next i,
.swiper-button-prev i {
    color: var(--black-color);
    font-size: 1.5rem;
}

.swiper-button-next:hover i,
.swiper-button-prev:hover i {
    color: white;
}

.more-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    flex-wrap: wrap;
    margin-top: 2rem;
}


.more-link p {
    font-size: var(--h4-font-size);
    text-align: center;
}

.more-link p i {
    margin-left: 1rem;
    font-size: 1.2rem;
}





/*!============= MARKET ============ */
.market .title {
    font-size: var(--small-font-size);
    font-weight: var(--font-light);
    margin-bottom: 1rem;
}

.market .heading {
    font-size: var(--h2-font-size);
    font-weight: var(--font-bold);
}

.market__content {
    margin-top: 3rem;
    gap: 2rem;
}

.market-item {
    background-color: white;
    border-radius: .6rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.market__img {
    border-radius: .6rem;
    background-color: var(--black-color);
    overflow: hidden;
}

.market__img:hover img {
    opacity: .8;
}

.market-item .title {
    padding: 1.5rem 1rem 0;
    height: 7rem;
}

.market-item .title p {
    font-size: var(--normal-font-size);
    margin-bottom: .15rem;
}

.market-item .title h3 {
    font-size: var(--h4-font-size);
    font-weight: var(--font-bold);
}

.market-item .subtitle {
    padding: 1.8rem 1rem;
    border-block: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.market-item .subtitle h4 {
    font-size: var(--normal-font-size);
    font-weight: var(--font-bold);
    display: flex;
    align-items: center;
}

.market-item .subtitle h4 span {
    font-size: var(--smaller-font-size);
    font-weight: var(--font-light);
    margin-right: .2rem;
}

.market-item .subtitle h4:nth-child(2) {
    gap: 1rem;
}

.market-item .subtitle h4 p {
    font-size: var(--smaller-font-size);
    font-weight: var(--font-bold);
}

.market-item .subtitle h4 .price {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: .3rem;
}

.market-item .subtitle h4 .price h2 {
    font-size: var(--h2-font-size);
    font-weight: var(--font-bold);
}

.market-item .subtitle h4 .price p {
    font-weight: var(--font-light);
}

.market-item button {
    width: 100%;
    padding: 1.8rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.market-item button i {
    font-size: 1.5rem;
}

.market .more-link {
    margin-top: 5rem;
}

/*!============= ACADEMY ============ */
.academy .title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-light);
    margin-bottom: 1rem;
}

.academy .heading {
    font-size: var(--h2-font-size);
    font-weight: var(--font-bold);
}

.academy__content {
    margin-top: 3rem;
    gap: 2rem;
}

.academy-item {
    flex: 1;
    background-color: white;
    border-radius: .6rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.academy__img {
    border-radius: .6rem .6rem 0 0;
    overflow: hidden;
}

.academy-item .title {
    height: 9rem;
    padding: 1.5rem 1rem 0;
}

.academy-item .title h3 {
    font-size: var(--h3-font-size);
    font-weight: var(--font-bold);
}

.academy-item .subtitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 1rem;
    border-block: 1px solid #ccc;
}

.academy-item .subtitle h4 {
    flex: 1;
    font-size: var(--small-font-size);
    font-weight: var(--font-bold);
}

.academy-item .subtitle p {
    flex: 1;
    font-size: var(--small-font-size);
    font-weight: var(--font-light);
}

.academy-item button {
    width: 100%;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.academy__score {
    width: 105px;
    text-align: left;
}

.academy__score h4 {
    font-size: var(--small-font-size);
    font-weight: var(--font-bold);
}

.academy__score .score-bar {
    width: 100%;
    height: 6px;
    background-color: #ccc;
    border-radius: 2rem;
    margin-top: .5rem;
    position: relative;
    overflow: hidden;
}

.academy__score .score-bar span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 80%;
    background-color: #fed11b;
}

.academy-item:nth-child(2) .score-bar span,
.academy-item:nth-child(3) .score-bar span,
.academy-item:nth-child(4) .score-bar span {
    width: 90%;
}

.academy-item button i {
    font-size: 1.5rem;
}

.academy .more-link {
    margin-top: 5rem;
}

.academy .more-link p span {
    font-weight: var(--font-bold);
}

/*!================ DIRECTORY ============ */
.directory .title {
    text-align: center;
    font-size: var(--normal-font-size);
    font-weight: var(--font-light);
}

.directory .heading {
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
    width: max-content;
    margin-inline: auto;
    position: relative;
}

.directory .heading img {
    position: absolute;
    bottom: -1.3rem;
    right: -1rem;
    width: 6rem;
    height: 6rem;
}

.directory .subtitle {
    font-size: var(--h3-font-size);
    font-weight: var(--font-light);
    text-align: center;
    margin-top: 1rem;
}

.directory__content {
    margin-top: 3rem;
    gap: 2rem;
    justify-content: space-between;
}

.directory-item {
    flex: 1;
    width: 100%;
    background-color: var(--black-color);
    color: white;
    padding: 2.5rem 1.5rem;
    border-radius: .6rem;
}

.directory-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.directory-header .badge {
    width: 4rem;
    height: 4rem;
    background-color: var(--light-black-color);
    border-radius: 50%;
    font-size: .7rem;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.directory-header .directory-slider-container {
    flex-basis: 50%;
    width: 12rem;
}

.directory-slider {
    width: 100%;
}

.slider-img {
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    overflow: hidden;
}

.directory .swiper {
    padding-bottom: 3rem;
}

.directory .swiper-pagination-bullets {
    width: max-content;
    right: 0;
    left: unset;
}


.swiper-pagination-bullet {
    background-color: #ccc;
}

.swiper-pagination-bullet-active {
    background-color: white;
}

.directory-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 2.5rem 2rem;
}

.directory-title .title p {
    font-size: var(--normal-font-size);
    font-weight: var(--font-light);
    text-align: left;
}

.directory-title .title h2 {
    font-size: var(--h2-font-size);
    cursor: pointer;
    font-weight: var(--font-bold);
    text-align: left;
}

.directory-title .works {
    border: 1px solid var(--dull-black-color);
    text-align: center;
    padding: .5rem .7rem;
    border-radius: .8rem;
}

.directory-title .works p {
    font-size: var(--smaller-font-size);
    font-weight: var(--font-light);
}

.directory-title h3 {
    font-size: var(--h3-font-size);
    font-weight: var(--font-bold);
}

.directory .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.directory .info p:first-child {
    cursor: pointer;
}

.directory-table-container::-webkit-scrollbar {
    display: none;
}

.directory-table {
    /* border: 1px solid red; */
    width: 100%;
    margin-top: 3rem;
    border-collapse: collapse;
    overflow: scroll;
}

thead th,
tbody td {
    border-bottom: 1px dotted #b0b0b0;
    padding: 0 1rem;
}

thead th {
    height: 3rem;
}

tbody td {
    height: 6.5rem;
}

.directory-table thead th {
    font-size: var(--small-font-size);
    font-weight: var(--font-light);
}


.directory-table tbody tr:hover {
    background-color: #eaeaea;
}

.directory-table tbody td {
    font-size: var(--h4-font-size);
}

.directory-table .logo {
    align-items: center;
    gap: .5rem;
}

.directory-table .logo img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.directory-table .creator h3 {
    font-size: var(--h4-font-size);
}

.directory-table .creator p {
    font-size: var(--smaller-font-size);
}

.directory-table .table-btn {
    border: 1px solid black;
    padding: .7rem 1.5rem;
    border-radius: .5rem;
    cursor: pointer;
}

.directory-table .table-btn:hover {
    background-color: var(--black-color);
    color: white;
}

.directory .more-link {
    margin-top: 5rem;
}


/*!=========== INSPIRATIONAL ELEMENT ==========*/
.inspirational__content {
    background-color: var(--black-color);
    color: white;
    padding: 6rem;
    border-radius: 1rem;
}

.inspirational .title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-light);
    text-align: center;
}

.inspirational .heading {
    font-size: var(--h1-font-size);
    text-align: center;
    margin-block: 2rem 4rem;
    line-height: 7rem;
}

.inspirational .main-video {
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.inspirational .main-video .badge {
    position: absolute;
    top: 2rem;
    left: 2rem;
    border: 1px solid white;
    padding: .1rem .3rem;
    border-radius: .2rem;
    font-size: var(--smaller-font-size);
    z-index: 55;
}

.inspirational .main-video .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    pointer-events: none;
}

.inspirational .main-video:hover .layer {
    opacity: 1;
    pointer-events: initial;
}

.inspirational .layer .info {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
}

.inspirational .layer .info p {
    font-size: var(--small-font-size);
}

.inspirational .layer .info h4 {
    font-size: var(--h3-font-size);
    font-weight: var(--font-bold);
}

.inspirational .layer .icons {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}

.inspirational .layer .icons i {
    font-size: 2rem;
    margin-inline: .5rem;
}

.inspirational .text {
    font-size: var(--h4-font-size);
    font-weight: var(--font-bold);
    margin-top: 3rem;
}

.inspirational .text span {
    font-size: var(--smaller-font-size);
    font-weight: var(--font-light);
}

.video__box {
    margin-top: 7rem;
}

.video__box h3 {
    font-size: var(--h3-font-size);
    text-align: center;
    font-weight: var(--font-light);
    margin-bottom: 4rem;
}

.video__content {
    justify-content: space-between;
    background-color: var(--black-color);
    gap: 1rem;
}


.video-item {
    position: relative;
    border-radius: .5rem;
    overflow: hidden;
    cursor: pointer;
}

.video-item .badge {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: var(--smaller-font-size);
    padding: .2rem .3rem;
    border: 1px solid white;
    border-radius: .3rem;
    z-index: 55;
}

.video-item .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
    opacity: 0;
    pointer-events: none;
}

.video-item:hover .layer {
    opacity: 1;
    pointer-events: initial;
}

.video-item .layer .info {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
}

.video-item .layer .info p {
    font-size: var(--smaller-font-size);
}

.video-item .layer .info h4 {
    font-size: var(--small-font-size);
}

.video-item .layer .icons {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}

.video-item .layer .icons i {
    font-size: 1.2rem;
    margin-inline: 0;
    margin-right: .3rem;
}

.inspirational .more-link {
    margin-top: 5rem;
}

.inspirational .creator h3::after {
    background-color: white;
}


/*!=========== COLLECTIONS =========== */
.collection .title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-light);
    margin-bottom: 1rem;
}

.collection .heading {
    font-size: var(--h2-font-size);
    font-weight: var(--font-bold);
    margin-bottom: 3rem;
}

.collection__content {
    justify-content: space-between;
    gap: 2rem;
}

.collection-img {
    border-radius: .5rem;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.collection-img .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7));
    opacity: 0;
    pointer-events: none;
}

.collection-img:hover .layer {
    opacity: 1;
    pointer-events: initial;
}

.collection-img .layer .info {
    position: absolute;
    left: 2rem;
    bottom: 2rem;
    color: white;
}

.collection-img .layer .info p {
    font-size: var(--small-font-size);
    font-weight: var(--font-light);
    margin-bottom: .3rem;
}

.collection-img .layer .info h4 {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.collection-item .item-data {
    margin-top: 1rem;
    gap: .5rem;
    flex-wrap: wrap;
}

.collection .item-data .follower {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.collection-item .item-data h4 {
    font-size: var(--h4-font-size);
    font-weight: var(--font-bold);
}

.collection-item .item-data span {
    font-size: var(--smaller-font-size);
    font-weight: var(--font-light);
}

.collection-item .item-data p {
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
}

.collection-item .item-data .user-box {
    display: flex;
    align-items: center;
}

.collection-item .item-data img {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    border: 2px solid var(--body-color);
    filter: grayscale(1);
}

.collection-item .item-data img:not(.first-img) {
    margin-left: -.9rem;
}


/*!=============== CARDS ============ */
.cards__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 35rem;
    gap: 2rem;
}

.card-item {
    border-radius: .8rem;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.card-item .info {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 55;
    color: white;
    padding: 3.5rem;
}

.card-item .info p {
    font-size: var(--normal-font-size);
    font-weight: var(--font-light);
}

.card-item .info h2 {
    font-size: var(--h2-font-size);
    font-weight: var(--font-bold);
    width: 270px;
    margin-block: 2rem;
}

.card-item .info .card-btn {
    font-size: var(--h4-font-size);
    font-weight: var(--font-medium);
    border: 2px solid white;
    border-radius: .5rem;
    padding: 1.3rem 2rem;
    width: max-content;
    cursor: pointer;
}

.card-item .info .card-btn:hover {
    background-color: white;
    color: var(--black-color);
}


.card-item .info .faq {
    display: flex;
    align-items: center;
    gap: .5rem;
    position: absolute;
    bottom: 2rem;
    right: 3.5rem;
    font-size: var(--small-font-size);
}

.card-item .info .faq h3 {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}

.card-item .info .faq .creator h3::after {
    background-color: white;
}

/*!=============== FOOTER ============ */
.footer__logo img {
    width: 2rem;
}

.footer__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1.3fr;
    margin-top: 2.5rem;
    border-bottom: 1px dotted #b0b0b0;
    padding-bottom: 3.5rem;
}

.footer__links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer__links a {
    font-size: var(--small-font-size);
    font-weight: var(--font-bold);
}

.footer a:hover {
    color: #797979;
}

.footer__box {
    background-color: #e9e9e9;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    border-radius: .5rem;
}

.footer__box p {
    font-size: var(--small-font-size);
}

.footer__box i {
    font-size: 2rem;
}

.footer__box .creator h3 {
    font-size: var(--small-font-size);
}

.footer__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 2rem 3rem;
}

.footer__policy {
    display: flex;
    align-items: center;
    row-gap: .4rem;
    column-gap: 1rem;
    flex-wrap: wrap;
}

.footer__policy a {
    font-size: var(--small-font-size);
}

.footer__socials {
    display: flex;
    align-items: center;
    row-gap: .4rem;
    column-gap: 1rem;
    flex-wrap: wrap;
}

.footer__socials p {
    font-size: var(--small-font-size);
    font-weight: var(--font-bold);
}

.footer__socials a {
    font-size: var(--small-font-size);
}

/*!============== BACK TO HOME ========= */
.back-to-home {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: .3rem;
    background-color: var(--black-color);
    color: white;
    display: grid;
    place-items: center;
    position: fixed;
    bottom: -10rem;
    left: 2rem;
    z-index: 99;
}

.back-to-home.show {
    bottom: 2rem;
}

.back-to-home i {
    font-size: 1.7rem;
}

/*!=============== FORM ============ */
.form-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow-y: auto;
    z-index: 101;
}

.form__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 85%;
    margin-block: 2rem;
    margin-inline: auto;
    position: relative;
}

.form__left {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--hero-color);
    padding: 3rem;
    border-radius: .8rem 0 0 .8rem;
}

.form__left .img-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.form__left .img-box img:first-child {
    width: 7rem;
}

.form__left .img-box img:last-child {
    width: 11rem;
}

.form__left h3 {
    font-size: var(--h3-font-size);
    font-weight: var(--font-light);
}

.form__left .more-link {
    justify-content: flex-start;
}

.form__left .more-link p {
    font-size: var(--small-font-size);
}

.form__left .more-link h3 {
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
}


.form__right {
    background-color: var(--body-color);
    padding: 3rem;
    border-radius: 0 .8rem .8rem 0;
}

.form__right form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form__right h3 {
    font-size: var(--h3-font-size);
    font-weight: var(--font-bold);
    margin-bottom: 2rem;
}

.input__control {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.input__control label {
    font-size: var(--smaller-font-size);
    color: #b1b1b1;
}

.input__control input {
    height: 3rem;
    padding-inline: 1rem;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
}

.input__control input:focus {
    border-bottom: 1px solid #838383;
}

.input__control input::placeholder {
    font-size: var(--small-font-size);
    color: #ccc;
}

.password-box {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.password-box {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.password-box .input__control {
    flex: 1;
}

.form__right form p {
    font-size: var(--small-font-size);
    line-height: 2rem;
}

.form__right form p span {
    font-weight: var(--font-bold);
    cursor: pointer;
}

.form__right .input__check {
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
}

.form__right .input__check input {
    width: 1.2rem;
    height: 1.2rem;
    border: 1px solid #d2d2d2;
    accent-color: var(--black-color);
}

.form__right .input__check label {
    font-size: var(--small-font-size);
    cursor: pointer;
}

.form__right .captcha {
    font-size: var(--smaller-font-size);
    color: #919191;
    line-height: normal;
    margin-block: 1.5rem;
}

.form-btn {
    background-color: var(--black-color);
    color: white;
    height: 4rem;
    text-align: center;
    border-radius: .5rem;
    font-size: var(--h4-font-size);
    cursor: pointer;
}

.form-btn:hover {
    background-color: var(--dull-black-color);
}

.form__right form .register {
    margin-block: 1rem 0rem;
}

.options {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.options .option {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    flex: 1;
    min-width: 150px;
    width: 100%;
    border: 1px solid #bfbfbf;
    padding: .7rem 0;
    border-radius: .4rem;
    text-align: center;
    font-size: var(--small-font-size);
    font-weight: var(--font-light);
    cursor: pointer;
}

.options .option:hover {
    background-color: var(--black-color);
    color: white;
}

.options .option i {
    font-size: 1.5rem;
    transition: 0s;
}

.form__content .close-form {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: .4rem;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: var(--black-color);
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
}

.signup-modal,
.login-modal {
    opacity: 0;
    pointer-events: none;
}

.signup-modal.show,
.login-modal.show {
    opacity: 1;
    pointer-events: initial;
}

.login-modal .form__right .input__check {
    margin-block: 1.5rem;
}

.login-modal .form__right .creator {
    justify-content: flex-end;
}

.login-modal .form__right .creator h3 {
    font-size: var(--smaller-font-size);
    text-align: right;
    margin-bottom: 0;
}

/*!============= Responsiveness ============ */
@media screen and (max-width:1550px) {

    .market__content .market-item:nth-child(4),
    .academy__content .academy-item:nth-child(4),
    .directory__content .directory-item:nth-child(3) {
        display: none;
    }
}

@media screen and (max-width:1360px) {

    .home .heading {
        --large-font-size: 7rem;
        word-spacing: 0;
    }

    .w-news,
    .w-creators {
        flex: none;
        flex-basis: 48%;
    }

    .w-featured-item {
        padding: 2rem 1rem;
    }
}

@media screen and (max-width:1340px) {

    .fixed-nav {
        width: 50%;
    }

    .fixed-nav.active {
        width: 60%;
    }
}

@media screen and (max-width:1260px) {

    .search__container {
        flex-basis: 80%;
    }

    .nav__btns-box {
        display: none;
    }

    .form__content .close-form {
        right: 1rem;
    }
}

@media screen and (max-width:1150px) {
    .form__content {
        overflow: hidden;
        border-radius: .6rem;
    }

    .form__content .close-form {
        position: absolute;
        bottom: unset;
        right: 0rem;
        top: 0rem;
        border-radius: 0;
        width: 3.8rem;
        height: 3.8rem;
        border-bottom-left-radius: .6rem;
    }

    .form__content .close-form i {
        font-size: 2rem;
    }
}

@media screen and (max-width:1100px) {

    .fixed-nav {
        width: 60%;
    }

    .fixed-nav.active {
        width: 70%;
    }

    .home .heading {
        --large-font-size: 5rem;
    }

    .market__content .market-item:nth-child(3),
    .academy__content .academy-item:nth-child(3) {
        display: none;
    }

    .video__content {
        flex-direction: column;
    }

    .cards__content {
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content;
    }

    .card-item .info h2 {
        width: 100%;
    }

    .card-item .info .faq {
        position: static;
        margin-top: 5rem;
    }

    .footer__content {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .footer__box {
        grid-column: 1 / -1;
        justify-content: flex-start;
        height: 5rem;
        padding-inline: 2rem;
        margin-block: .5rem;
    }
}


@media screen and (max-width:1000px) {
    .footer__main {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .form__content {
        width: 90%;
    }
}

@media screen and (max-width:900px) {

    .section {
        padding-block: 5rem;
    }

    .fixed-nav {
        width: 70%;
    }

    .fixed-nav.active {
        width: 80%;
    }

    .home .heading {
        --large-font-size: 4rem;
    }

    .new__content {
        flex-direction: column;
    }

    .w-news,
    .w-creators,
    .w-featured {
        flex: none;
        flex-basis: 100%;
    }

    .form__content {
        grid-template-columns: 1fr;
    }

    .form__right,
    .form__left {
        border-radius: 0;
    }

    .form__left {
        align-items: center;
        gap: 2rem;
    }
}

@media screen and (max-width:770px) {

    .projects {
        display: none;
    }

    .tags {
        margin-top: 0;
    }

    .fixed-nav {
        width: 90%;
    }

    .fixed-nav.active {
        width: 90%;
    }

    .search__container {
        flex-basis: 60%;
    }

    .padding-inline {
        padding-inline: 2rem;
    }

    .section {
        padding-inline: 2rem;
    }

    .creators-container {
        justify-content: flex-start;
    }

    .news .heading {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .nominees .heading::after {
        bottom: unset;
        right: unset;
        top: -2rem;
        left: -1rem;
    }

    .directory__content {
        flex-direction: column;
    }

    .back-to-home {
        display: none;

    }
}

@media screen and (max-width:650px) {

    .market__content,
    .academy__content {
        flex-direction: column;
    }

    .market-item .title,
    .academy-item .title {
        height: 5rem;
    }

    .market-item .subtitle,
    .market-item button {
        padding: 1.3rem 1rem;
    }

    .directory-table-container::-webkit-scrollbar {
        display: block;
        height: 3px;
    }

    .directory-table-container::-webkit-scrollbar-thumb {
        background-color: #afafaf;
        border-radius: 3rem;
    }

    .inspirational__content {
        padding: 4rem;
    }

    .card-item .info {
        padding: 2rem;
    }
}

@media screen and (max-width:610px) {

    .padding-inline {
        padding-inline: 1rem;
    }

    .section {
        padding: 4rem 1rem;
    }

    .fixed-nav {
        width: 30%;
    }

    .main-home {
        width: 100%;
    }

    .fixed__nav-list {
        display: none;
    }

    .fixed-nav.active {
        width: 80%;
    }

    .main__menu-modal {
        min-height: 25rem;
    }

    .main__menu-content {
        flex-direction: column;
        overflow-y: scroll;
    }

    .signup__links a {
        display: none;
    }


    .search__container {
        flex-basis: 90%;
    }

    .signup-toggle {
        display: block;
        font-size: 1.5rem;
    }

    .home .heading {
        --large-font-size: 10vw;
    }

    .home__img {
        height: 25rem;
    }



    .creators-container {
        justify-content: center;
    }

    .home .creator h3,
    .home .creator p {
        display: none;
    }

    .home__img button {
        padding-inline: 1rem;
        width: 12rem;
    }

    .nominees__content .item__data {
        display: flex;
        align-items: center;
        gap: .5rem;
    }

    .swiper-button-next {
        right: 40%;
    }

    .swiper-button-prev {
        right: unset;
        left: 40%;
    }

    .card-item .info h2 {
        margin-block: 1.5rem;
    }

    .card-item .info .faq {
        margin-top: 2.5rem;
    }

    .form__left,
    .form__right {
        padding: 2rem;
    }

    .form__left .img-box img:first-child {
        width: 4rem;
    }

    .form__left .img-box img:last-child {
        width: 7rem;
    }

    .password-box {
        flex-direction: column;
        width: 100%;
    }

    .password-box .input__control {
        width: 100%;
    }
}

@media screen and (max-width:550px) {
    .directory .heading img {
        bottom: unset;
        right: unset;
        top: -1.5rem;
        left: -2rem;
        width: 5rem;
        height: 5rem;
    }


    .cards__content {
        grid-template-rows: 23rem 23rem;
    }

}

@media screen and (max-width:470px) {

    .fixed-nav {
        width: 40%;
    }

    .fixed-nav.active {
        width: 95%;
    }

    .search__container {
        flex-basis: 90%;
    }

    .inspiration {
        display: none;
    }

    .search__container p {
        display: none;
    }

    .padding-inline {
        padding-inline: .5rem;
    }

    .section {
        padding: 3rem .5rem;
    }

    .home .heading {
        --large-font-size: 2.5rem;
        margin-top: 1.5rem;
    }

    .home__img {
        height: 15rem;
    }

    .score {
        bottom: .5rem;
        left: .5rem;
    }

    .score .point {
        margin-top: .3rem;
    }

    .score .point h2 {
        font-size: 2rem;
        line-height: 3rem;
    }

    .score .point p {
        font-size: 1.3rem;
    }


    .nominees .heading::after {
        padding: .4rem .7rem;
        font-size: var(--small-font-size);
        top: -1rem;
        left: -1rem;
        border-radius: .3rem;
    }

    .swiper-button-next {
        right: 35%;
    }

    .swiper-button-prev {
        left: 35%;
    }

    .inspirational__content {
        padding: 4rem 2rem;
    }

    .directory .heading img {
        bottom: unset;
        right: unset;
        top: -.5rem;
        left: -1rem;
        width: 3rem;
        height: 3rem;
    }

    .inspirational .heading {
        line-height: 3rem;
    }

    .main-video .layer .info {
        bottom: 1rem;
        left: 1rem;
        width: 150px;
    }

    .main-video .layer .icons {
        bottom: 1rem;
        right: 1rem;
    }

    .main-video .layer .icons i {
        margin-inline: 0;
        margin-left: .5rem;
        font-size: 1.3rem;
    }

    .form__content {
        width: 95%;
        margin-block: 1rem;
    }

}

@media screen and (max-width:380px) {

    .fixed-nav {
        width: 50%;
    }

    .search__container {
        flex-basis: 70%;
    }

    .home .heading {
        --large-font-size: 2rem;
    }

    .directory-header {
        flex-direction: column;
        gap: 1rem;
    }

    .directory-header .badge {
        margin-left: auto;
    }

    .directory-slider-container {
        display: flex;
        justify-content: flex-end;
        margin-left: auto;
    }
}